<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Guide Lines</h3>
  </div>
  <div class="panel-body">
    <h3>Inventory Management System</h3>
    <p> User can view, update and delete his won profile. </p>
    <p> User can create any number of item and choose a category and brand name with it.
    User also view, update and delete his own items. He can only view others item.</p>
    <p> User can view categories and brands. </p>
    <p class="red">Only admin user can update, delete categories and brands </p>
  </div>
</div>
