<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Guide Lines</h3>
  </div>
  <div class="panel-body">
    <h3>Inventory Management System</h3>
    <p>Only admin user can update, delete categories and brands and anyone's item details. And also reallocate and deallocate anyone items</p>
    <p> User can view, update and delete his won profile. </p>
    <p> User can create any number of item and choose a category and brand name with it.
    User also view, update and delete his own items. He can only view others item.</p>
    <p> User can view categories and brands. </p>
    <p>
    Users should be able to sign in the system if he / she does not have any account and will be required to provide name, email id & password while creating account for the first time.
    </p>
    <p>
    If the user is an existing user then he / she will be able to login the system.
    </p>
    <p>
    While logging in the system if the user email / password provided is wrong then it will show appropriate error messages.
    </p>
    <p>
    The system should display the name of the user on the upper right corner of the page when that specific user logs in and will show it as long as the user stays logged in.
    </p>
    <p>
    Items of a particular category / brand can be allotted to a person.
    </p>
    <p>
    System should store details of the person to whom the item has been allotted like - person’s name, email, mobile number, etc.
    </p>
    <p>
    If an item is reallotted to another person then system should also keep track of those allotments i.e system should keep track of the total allotment history.
    </p>
    <p>
    It should be possible to deallocate an item.
    </p>
    <p>
    There should be a functionality to see the details of the allotment history for each item.
    </p>
    <p>
    It should be possible to see all the items allotted to a person
    </p>
  </div>
</div>
