<h1 align="center">Listing all items</h1>
<%= render 'item', obj: @items %>
<div align="center">
	<%= will_paginate renderer: BootstrapPagination::Rails %>
</div>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_item_path,
            :class => 'btn btn-primary' %>
