
<footer class="footer">
	<small>
		Copyright &copy reserved for <a href="https://www.facebook.com/pritam.pramanik.52" target="_blank"> Pritam Pramanik.</a>
	</small>
	<nav>
		<ul>
			<li><%= link_to "Home", root_path %></li>
		</ul>
	</nav>
</footer>
